<html><head><style type="text/css" id="operaUserStyle"></style></head><body>{% extends 'base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in basket %}
                <li>
                    {{ item.count_prod }} x {{ item.library.name }}
                    <span>{{ item.total_price }} р</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: {{ basket.get_total_full_price }} р</p>
    </div>

        <p><input type="submit" class="btn btn-success" value="Разместить заказ"></p>
        <a href="{% url 'list_basket_prod' %}" class="btn btn-info">Назад</a>
        {% csrf_token %}
    </form>

{% endblock %}